<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{.Devlog}</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown ">
                <a class="btn btn-none border-0 text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </a>
            <ul class="dropdown-menu">
                <% categories.forEach((category) =>{%>
                    <li>
                        <a href="/category/<%= category.slug %>" class="dropdown-item"><%= category.title %></a></li>
                <% })%>
            </ul>
            </div>
        </div>
    </div>
    </nav>